
@{
    Layout = "";
}

<div class="raw form-horizontal clearfix">
    <div id="ekshop-a2i" class="nav-tabs-custom">
        Click <a href="/BsAffiliateConfigure/Configure">here</a> to go to settings page
    </div>
</div>