
@using Nop.Web.Framework.UI;

@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Vendor/Category Commission";
    Html.SetActiveMenuItemSystemName("Affiliate.VendorCommission");
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Vendor/Category Commission
        </h1>
        @if (ViewBag.CanManage)
        {
            <div class="pull-right">
                <a href="/BsAffiliateConfigure/AddVendorCommission" class="btn bg-blue">
                    <i class="fa fa-plus-square"></i>
                    @T("Admin.Common.AddNew")
                </a>
            </div>
        }
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @*<div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="customers-grid"></div>

                        <script>
                            $(document).ready(function() {
                                $("#customers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "/BsAffiliateConfigure/CommissionRateList",
                                                type: "POST",
                                                dataType: "json",
                                                //data: additionalData
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors"
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: 15,
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [10, 15, 25, 50, 100]
                                    },
                                    scrollable: false,
                                    //dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "EntityName",
                                            title: "Name",
                                            width: 300
                                        }, {
                                            field: "EntityTypeString",
                                            title: "Type",
                                            width: 200
                                        }, {
                                            field: "CommissionRateString",
                                            title: "Commission",
                                            width: 200
                                        }
                                        @if (ViewBag.CanManage)
                                        {
                                            <text>
                                        , {
                                                field: "Id",
                                            title: "Edit",
                                            width: 80,
                                            template: '<a href="EditVendorCommission/#=Id#">Edit</a>'
                                        }, {
                                                field: "Id",
                                            title: "Delete",
                                            width: 80,
                                            template: '<a onclick="return confirm(\'Are you sure you want to delete this item?\')" href="RateDelete/#=Id#">Delete</a>'
                                        },
                                        </text>
                                        }
                                    ]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
