@using Nop.Core;
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@{
    
}
<div class="page home-page">
    @RenderBody()
</div>
