@{
    ViewBag.Title = "Brand Week";
    Layout = "~/Views/Shared/_RootForHome.cshtml";
}

<style>
    .brand-week-banner {
    }

    .brand-week-timer {
    }
</style>

<div>
    <div class="brand-week-banner">
        @Html.Widget("brand_week_banner")
    </div>

    <div class="brand-week-timer">
    </div>
</div>

@if (IsSectionDefined("customScripts"))
{
    @RenderSection("customScripts")
}

@if (IsSectionDefined("customStyles"))
{
    @RenderSection("customStyles")
}

@RenderBody()
