<html>
<body onload='document.forms["form"].submit()'>
    <form name='form' action='https://secure.payza.com/checkout' method='post'>
        <input type="hidden" name="ap_purchasetype" value="item" /><input type="hidden" name="ap_merchant" value="info@splendorit.com" />
        <input type="hidden" name="ap_currency" value="BDT" /><input type="hidden" name="ap_itemname_1" value="Build your own computer" />
        <input type="hidden" name="ap_description_1" value="Build it" /><input type="hidden" name="ap_itemcode_1" value="1" />
        <input type="hidden" name="ap_quantity_1" value="1" /><input type="hidden" name="ap_amount_1" value="10.0000" />
        <input type="hidden" name="ap_discountamount" value="5.0000"/><input type="hidden" name="ap_test" value="1"/>
        <input type="hidden" name="ap_referencenumber" value="12345678" />
        <input type="hidden" name="ap_cancelurl" value="http://priyoshop.com/" />
        <input type="hidden" name="ap_returnurl" value="http://priyoshop.com/exclusive-ladies-bag-9016416-3" />
    </form>
</body>
</html>