@model Nop.Plugin.Payments.Bkash.Models.BkashInfoModel
<style type="text/css">
    .bkash-wrapper {
        padding: 5px;
        font-size: 13px;
        text-align: left;
        margin: 20px auto;
        border: 1px solid #f5f5f5;
    }

        .bkash-wrapper .title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        .bkash-wrapper .content {
            margin-top: 8px;
            margin-bottom: 8px;
        }

            .bkash-wrapper .content ul {
                list-style: none;
                margin-left: 25px;
            }

    .blockquote-style {
        padding: 0 0 0 15px;
        margin: 0 0 20px;
        border-left: 5px solid #eeeeee;
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 40px;
        -webkit-margin-end: 40px;
    }

    .bkash-wrapper .content ul li {
        margin-bottom: 5px;
    }

    .flash {
        margin: 0 auto;
        margin-bottom: 25px;
        padding-left: 100px;
    }

    .image {
        overflow: hidden;
        *position: relative;
    }

    .image-wrapper {
        float: left;
        position: relative;
        left: 50%;
    }

        .image-wrapper .im {
            display: block;
            position: relative;
            left: -50%;
            width: 100%;
            height: auto;
        }

    .circle {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        font-size: 15px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        background: #000;
    }

    .logo-step {
        width: 30px;
        display: inline-block;
        float: left;
        margin-right: 5px;
        background: url('/Plugins/Payments.Bkash/Content/li.png');
        background-repeat: no-repeat;
        height: 30px;
    }

    .bkash-ul {
    }
</style>
<div class="clear"></div>
<div class="bkash-wrapper">
    <div class="title">How to pay with bKash</div>
    <div class="content text">
        <ul class="bkash-ul">

            <li style="margin-top: 20px;">
                <div>
                    <h3>
                        Enjoy the easy payment option of bKash!
                    </h3>
                    <br />
                    <strong>Payment process:</strong>
                    <br />
                    <ul style="list-style: none;margin-top: 15px;">
                        <li><div class="circle">1</div> Go to bKash Mobile Menu by dialing <b>@Model.DialNumber</b></li>
                        <li><div class="circle">2</div> Choose 'Payment'</li>
                        <li><div class="circle">3</div> Enter the Account Number <b>"@Model.BkashPaymentPhoneNumber"</b></li>
                        <li><div class="circle">4</div> Enter Bill Amount</li>
                        <li><div class="circle">5</div> Enter a reference against your payment (Your Name/Phone Number)</li>
                        <li><div class="circle">6</div> Enter the counter number: 1</li>
                        <li><div class="circle">7</div> Now enter your bKash PIN to confirm Done!</li>
                        <li><div class="circle">7</div> You will receive a confirmation message from bKash</li>
                        <li><div class="circle">7</div> Please, bKash pay to <span style="font-weight:bold;text-decoration:underline">@Model.BkashPaymentPhoneNumber</span></li>
                    </ul>
                </div>
            </li>
        </ul>

        <br /><br />

    </div>
    <div class="clear"></div>
    <div class="content image">
        <div class="image-wrapper">
            <img src="/Plugins/Payments.Bkash/Content/bKashProcess.png" class="im" />
        </div>
    </div>
    <div class="clear"></div>
    @*680x360*@
    @*<div class="content flash">
            <object width="780" height="412">
                <param name="movie" value="/Plugins/Payments.Bkash/Content/payment.swf">
                <embed src="/Plugins/Payments.Bkash/Content/payment.swf" width="780" height="412"></embed>
            </object>
        </div>*@
</div>