@model object

@{
    Layout = "~/Views/Shared/_ColumnsTwoCustomPage.cshtml";

    Html.AppendCssFileParts("~/Themes/Pavilion/Content/css/owl.carousel.css");
    Html.AddScriptParts("~/Scripts/jquery-watch.min.js");
    //page class
    Html.AppendPageCssClassParts("html-custom-page");
}

@section customScripts  {
    <script>
        $(document).ready(function () {
            $('.custom-page-top').find('.nivo-main-image').each(function () {
                $(this).css('height', '359px');
            });

            setTimeout(function () {
                $('.custom-page-top').find('.nivoSlider > img').each(function () {
                    $(this).css('height', '359px');
                });

                $('.custom-page-top').find('.nivoSlider > a').each(function () {
                    $(this).find('img').each(function () {
                        $(this).css('height', '359px');
                    });
                });
            }, 3000);

            $('.jcarousel-container').each(function () {
                var header = $(this).prev();

                if (!header.hasClass('carousel-title')) {
                    $(this).children().each(function () {
                        if ($(this).hasClass('jcarousel-prev') || $(this).hasClass('jcarousel-next')) {
                            $(this).css({ 'margin-top': '2px', 'height': '15px' });
                        }
                    });
                } else {
                    header.children().each(function () {
                        var container = header.next();

                        if (!$(this).text()) {
                            container.children().each(function () {
                                if ($(this).hasClass('jcarousel-prev') || $(this).hasClass('jcarousel-next')) {
                                    $(this).css({ 'margin-top': '2px', 'height': '15px' });
                                }
                            });

                            header.css({ 'display': 'none' });
                        } else {
                            container.children().each(function () {
                                if ($(this).hasClass('jcarousel-prev') || $(this).hasClass('jcarousel-next')) {
                                    $(this).css({ 'margin-top': '15px' });
                                }
                            });
                        }

                        return false;
                    });
                }
            });

            var indexesToSelect = [2, 7];

            var groupOneJCarousel = $('.jcarousel-clip > ul').filter(function (i) {
                return $.inArray(i, indexesToSelect) === -1;
            });

            var groupTwoJCarousel = $('.jcarousel-clip > ul').filter(function (i) {
                return $.inArray(i, indexesToSelect) > -1;
            });

            setTimeout(function () {
                groupOneJCarousel.each(function () {
                    var oldValue = $(this).css('left');

                    // hook up the watcher
                    $(this).watch({
                        // specify CSS styles or attribute names to monitor
                        properties: 'left',
                        // callback function when a change is detected
                        callback: function (data, i) {
                            var newValue = data.vals[i];
                            if (oldValue.replace('px', '') - newValue.replace('px', '') === 1) {
                                $(this).css({ 'left': oldValue });
                            }
                        }
                    });
                });
            }, 30000);

            setTimeout(function () {
                groupTwoJCarousel.each(function () {
                    var oldValue = $(this).css('left');

                    // hook up the watcher
                    $(this).watch({
                        // specify CSS styles or attribute names to monitor
                        properties: 'left',
                        // callback function when a change is detected
                        callback: function (data, i) {
                            var newValue = data.vals[i];
                            if (oldValue.replace('px', '') - newValue.replace('px', '') === 1) {
                                $(this).css({ 'left': oldValue });
                            }
                        }
                    });
                });
            }, 45000);
        });
    </script>
}

@section customStyles  {
    <style type="text/css">
        h2.carousel-title {
            margin: 0 !important;
            text-align: center !important;
            padding: 15px !important;
            background-color: #31162E;
            border: 1px solid rgb(254,202,35);
            border-bottom: none;
        }

            h2.carousel-title > span {
                color: white;
                border: 1px solid rgb(254,202,35);
                padding: 2px 6px 2px 6px;
                border-radius: 5px;
                box-shadow: 0 0 5px;
            }

        div.jcarousel-container {
            padding: 15px;
            background-color: #31162E;
            border: 1px solid rgb(254,202,35);
        }

        .jcarousel-prev, .jcarousel-next {
            margin-top: 10px;
        }

        .flex-container {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            margin-bottom: 10px;
        }

        .custom-page-product-list {
            /*margin-top: -70px !important;*/
        }
    </style>
}

<div class="custom-page-product-list">
    @Html.Widget("custom_page_bottom")
</div>

