@model SureThingModel
@using Nop.Web.Models.Catalog;

@{
    Layout = "~/Views/Shared/_ColumnsTwoSureThing.cshtml";

    Html.AppendCssFileParts("~/Themes/Pavilion/Content/css/owl.carousel.css");
    Html.AddScriptParts("~/Scripts/jquery-watch.min.js");
    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

@if (Model.StartDateTime.HasValue)
{
    @section timer  {

        <script>
            $(document).ready(function () {
                getStartTime();

                $('.jcarousel-container').each(function () {
                    var header = $(this).prev();

                    if (!header.hasClass('carousel-title')) {
                        $(this).children().each(function () {
                            if ($(this).hasClass('jcarousel-prev') || $(this).hasClass('jcarousel-next')) {
                                $(this).css({ 'margin-top': '2px', 'height': '15px' });
                            }
                        });
                    } else {
                        header.children().each(function () {
                            var container = header.next();

                            if (!$(this).text()) {
                                container.children().each(function () {
                                    if ($(this).hasClass('jcarousel-prev') || $(this).hasClass('jcarousel-next')) {
                                        $(this).css({ 'margin-top': '2px', 'height': '15px' });
                                    }
                                });

                                header.css({ 'display': 'none' });
                            } else {
                                container.children().each(function () {
                                    if ($(this).hasClass('jcarousel-prev') || $(this).hasClass('jcarousel-next')) {
                                        $(this).css({ 'margin-top': '15px' });
                                    }
                                });
                            }

                            return false;
                        });
                    }
                });

                setTimeout(function () {
                    $('.jcarousel-clip > ul').each(function () {
                        // some element to monitor
                        var el = $(this);
                        //console.log($(this));

                        var oldValue = el.css('left');

                        // hook up the watcher
                        el.watch({
                            // specify CSS styles or attribute names to monitor
                            properties: 'left',
                            // callback function when a change is detected
                            callback: function (data, i) {
                                var newValue = data.vals[i];
                                if (oldValue.replace('px', '') - newValue.replace('px', '') === 1) {
                                    $(this).css({ 'left': oldValue });
                                }
                            }
                        });
                    });
                }, 30000);
            });

            function getStartTime() {
                var startTime = new Date('@Model.StartDateTime.Value.ToString()');
                var delta = (startTime.getTime() - Date.now()) / 1000;

                if (delta > 0) {
                    var days = Math.floor(delta / 86400);
                    delta -= days * 86400;
                    $('#timer-days').html(days >= 10 ? days : '0' + days);

                    var hours = Math.floor(delta / 3600) % 24;
                    delta -= hours * 3600;
                    $('#timer-hours').html(hours >= 10 ? hours : '0' + hours);

                    var minutes = Math.floor(delta / 60) % 60;
                    delta -= minutes * 60;
                    $('#timer-mins').html(minutes >= 10 ? minutes : '0' + minutes);

                    var seconds = Math.floor(delta % 60);
                    $('#timer-secs').html(seconds >= 10 ? seconds : '0' + seconds);

                    setTimeout(function () {
                        getStartTime();
                    }, 999);
                }
                else {
                    $('#timer-days').html('00');
                    $('#timer-hours').html('00');
                    $('#timer-mins').html('00');
                    $('#timer-secs').html('00');
                }
            }
        </script>

        <div class="flash-sale-timer-container">
            <span class="flash-sale-content">High Voltage Cashback Starts in</span>
            <div class="flash-sale-date-time">
                <span class="time"><span class="days" id="timer-days">00</span><span class="label">DAYS</span></span>
                <span class="time"><span class="days" id="timer-hours">00 </span><span class="label">HOUR </span></span>
                <span class="time"><span class="days" id="timer-mins">00 </span><span class="label">MIN </span></span>
                <span class="time"><span class="days" id="timer-secs">00 </span><span class="label">SEC</span></span>
            </div>
        </div>
    }
}

<style type="text/css">
    h2.carousel-title {
        margin: 0 !important;
        text-align: center !important;
        padding: 15px !important;
        background-color: rgb(31,23,70);
        border: 1px solid rgb(255,201,31);
        border-bottom: none;
    }

        h2.carousel-title > span {
            color: rgb(65,176,229);
            border: 1px solid;
            padding: 2px 6px 2px 6px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgb(65,176,229);
        }

    div.jcarousel-container {
        padding: 15px;
        background-color: rgb(31,23,70);
        border: 1px solid rgb(255,201,31);
    }

    .jcarousel-prev, .jcarousel-next {
        margin-top: 10px;
    }
</style>

<div class="sure-thing-product-list">
    @Html.Widget("sure_thing_page_middle")
    @Html.Widget("sure_thing_page_bottom")
</div>