@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Plugins.Configure").Text;
}
<div>
    <a href="/HomePageProduct/CategoryAdd">(Back to plugin main page)</a>
    First you need to add @Html.Widget("category_wise_product") where you want to show the output
    then add Category then category product then category image and lastly add subcategory.
</div>

