@model Nop.Plugin.Payments.EblSkyPay.Models.ErrorCallbackModel
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
}
<div class="container">
    <div class="row">
        <div class="checkout-page">
            <div class="clear">
            </div>
            <div class="thanks-title">
                @T("Checkout.ThankYou")
            </div>
            <div class="clear">
            </div>
            <div class="checkout-data">
                <div class="order-completed">
                    <div class="body">
                        <b>Your order has been placed but payment process failed due to some technical error at server end.</b>
                        <p>
                            Order Number : @Model.OrderId
                        </p>
                        <p>
                            Please click the bellow link to try your payment again.
                        </p>
                        <p>
                        <a style="color:#00aeef;" href="/Plugins/PaymentEblSkyPay/EblSkyPay?orderId=@Model.OrderId">
                            try again
                        </a></p>
                        <br />
                        <p>
                            <a href="@Url.RouteUrl("OrderDetails", new { orderID = @Model.OrderId})">Click here for order details</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>