@model Nop.Plugin.Widgets.EkShopA2I.Models.NotificationModel

@if (Model.IsVendorRestricted)
{
    <script>
        $(document).ready(function () {
            $("#add-to-cart-button-" + @Model.ProductId).attr("disabled", "disabled");
            $("#add-to-cart-button-" + @Model.ProductId).addClass("not-valid-for-ekshop");
        })
    </script>

    <div class="product-hover-layer">
        @Model.Message
    </div>
}
else
{
    if (Model.ShowBadge)
    {
        <div class="discount-for-you">
            -@Model.CommissionRate.ToString("N0")% <br /> For you!
        </div>
    }
}