<style type="text/css">
    .nexus-wrapper {
        padding: 5px;
        font-size: 13px;
        text-align: left;
        margin: 20px auto;
        border: 1px solid #f5f5f5;
    }

        .nexus-wrapper .title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        .nexus-wrapper .content {
            margin-top: 8px;
            margin-bottom: 8px;
        }

    .nexus-wrapper .content ul li {
        margin-bottom: 5px;
    }

    .image {
        overflow: hidden;
        *position: relative;
    }

    .image-wrapper {
        float: left;
        position: relative;
        left: 50%;
    }

        .image-wrapper .im {
            display: block;
            position: relative;
            left: -50%;
            width: 100%;
            height: auto;
        }
</style>
<div class="clear"></div>
<div class="nexus-wrapper">
    <div class="title">How to pay with Nexus Pay</div>
    <div class="clear"></div>
    <div class="content image">
        <div class="image-wrapper">
            <img src="/Plugins/Payments.NexusPay/nexus_pay_process_1.jpg" class="im" />
        </div>
    </div>
</div>